<?xml version="1.0"?>
<!--
  Per ulteriori informazioni sulla configurazione dell'applicazione ASP.NET, visitare
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--<add name="ConnString" connectionString="server=62.149.153.38;uid=MSSql75356;pwd=3ccc8910;database=MSSql75356" />-->
    <add name="ConnString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
    </compilation>
    <authentication mode="Forms">
			<forms name=".MioCookie" loginUrl="login.aspx">
				<credentials passwordFormat="Clear">
					<user name="cesare" password="bassaidai"/>
					<user name="almish" password="1Bassaidai"/>
				</credentials>
			</forms>
		</authentication>
    <authorization>
			<allow users="*,?"/>
		</authorization>
  </system.web>
  <location path="Admin.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
</configuration>