<?xml version="1.0" encoding="utf-8"?>
<!--
  Per ulteriori informazioni sulla configurazione dell'applicazione ASP.NET, visitare
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--<add name="ConnString" connectionString="server=62.149.153.38;uid=MSSql75356;pwd=3ccc8910;database=MSSql75356" />-->
    <add name="ConnString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"/>
      <compilation targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms name=".MioCookie" loginUrl="login.aspx">
        <credentials passwordFormat="Clear">
          <user name="cesare" password="1Bassaidai" />
          <user name="almish" password="1Bassaidai" />
          <user name="agonista" password="1Maegeri" />

        </credentials>
      </forms>
    </authentication>
    <authorization>
      <allow users="*,?" />
    </authorization>
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
  </system.web>
  <location path="Riservata">
    <system.web>
      <authorization>
        <allow users="cesare"/>
        <deny users="*" />
      </authorization>
      <globalization culture="IT-it" uiCulture="it"/>
      <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    </system.web>
  </location>
  <location path="Agonisti">
    <system.web>
      <authorization>
        <allow users="cesare, agonista"/>
        <deny users="*" />
      </authorization>
      <globalization culture="IT-it" uiCulture="it"/>
      <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    </system.web>
  </location>
</configuration>