html {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    border-top: solid 10px #000;
    font-family: "Segoe UI" , Verdana, Helvetica, Sans-Serif;
    background-color: #ebebeb;
}
h1 {
    text-shadow: 0px 0px 5px #000;
    text-align: center;
    color: #e4e7e9;
    line-height: 1em;
}
h2 {
    text-align: left;
    color: #628A81;
}
.hr1 {
    border:0;
    height:0.5px;
    background:#333;
    background-image:-webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image:-moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image:-ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image:-o-linear-gradient(left, #ccc, #333, #ccc);
    }
.FloatRight {
    float: right;
}
.FloatLeft {
    float: left;
}
/* page part*/
header, footer, nav {
    display: block;
    padding: 10px;
}
header {
    background-image: url('../Immagini/Striscia.jpg');
    background-repeat: repeat-x;
    background-position: 50% top;
}
.ContenteSplash {
    background-color:rgba(235, 235, 235, 0.72);
    position:absolute;
    font-size:1.2em;
    margin:auto;
    width:100%;
    height:100%;
}
.Splash {
    padding: 1px 10px 10px 10px;
    width: 50%;
    margin: 2px auto 13px auto;
    position: relative;
    background-color: rgba(98, 138, 129, 0.80);
    border-radius: 10px;
    text-shadow: 0.5px 0.5px 0.5px #fff;
    -webkit-text-shadow: 0.5px 0.5px 0.5px #fff;
    -moz-text-shadow: 0.5px 0.5px 0.5px #fff;
    -ms-text-shadow: 0.5px 0.5px 0.5px #fff;
    box-shadow: 10px 10px 10px #716556;
    -webkit-box-shadow: 10px 10px 10px #716556;
    -moz-box-shadow: 10px 10px 10px #716556;
    -ms-box-shadow: 10px 10px 10px #716556;
}

.SplashFooter {
    position:relative;
    text-align:center;
}
.SplashButton {
    color: #fff;
    border: thin solid #fff;
    padding: 15px 0px 0px 0px;
    height:70px;
    width:70px;
    border-radius: 35px;
    background-color: rgba(98, 138, 129, 0.80);
    font-size: 1.4em;
    text-decoration: none;
    transition: all 0.5s ease;
}
    .SplashButton:hover {
    transition: all 0.5s ease;
    text-shadow: 0px 0px 40px #4f4f4f;
    color: #580c0c;
    -ms-transform: scale(1.3,1.3) rotate(360deg); /* IE 9 */
    -webkit-transform: scale(1.3,1.3) rotate(360deg); /* Chrome, Safari, Opera */
    -moz-transform:  scale(1.3,1.3) rotate(360deg);
    transform: scale(1.3,1.3) rotate(360deg);
    text-shadow: 0.5px 0.5px 0.5px #fff;
    -webkit-text-shadow: 0.5px 0.5px 0.5px #fff;
    -moz-text-shadow: 0.5px 0.5px 0.5px #fff;
    -ms-text-shadow: 0.5px 0.5px 0.5px #fff;
    box-shadow: 10px 10px 20px #716556;
    -webkit-box-shadow: 10px 20px 10px #716556;
    -ms-box-shadow: 10px 10px 10px #716556;
    -moz-box-shadow: 10px 10px 10px #716556;
    }
.navi {
    margin:0;
    padding:0;
    color:#fff;
}
    .navi ul {
        padding-left:1px;
        margin:0;
        list-style-type: none;
        height:15px;
    }
    .navi a {
    text-decoration: none;
    text-shadow: 0px 0px 4px #000;
    color: #fff;
    font-weight: bold;
    transition: all 0.8s ease;
    font-size: 1.1em;
}
    .navi li {
        padding:0px 10px 0px 10px;
        display:inline;
        float:left;
        padding:5px;
    }
    .navi a:hover {
    transition: all 0.8s ease;
    text-shadow: 0px 0px 40px #4f4f4f;
    color: #628A81;
    -ms-transform: scale(1.5,1.5); /* IE 9 */
    -webkit-transform: scale(1.5,1.5); /* Chrome, Safari, Opera */
    transform: scale(1.5,1.5);
}
.naviAgo {
    font-size: 1.5em;
}
    .naviAgo ul{
        list-style-type: none;
    }
    .naviAgo a {
    font-weight: bold;
    text-decoration: none;
    transition: all 0.8s ease;
    color: #628A81;
    }
    .naviAgo a:hover {
    transition: all 0.8s ease;
    text-shadow: 0px 0px 40px #4f4f4f;
    color: #fff;
    -ms-transform: scale(1.5,1.5); /* IE 9 */
    -webkit-transform: scale(1.5,1.5); /* Chrome, Safari, Opera */
    transform: scale(1.5,1.5);
    }
    /*Tabelle*/
.tbl1 {
    padding: 5px;
    margin: auto auto 10px auto;
    -webkit-box-shadow: 4px 4px 5px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 4px 4px 5px rgba(50, 50, 50, 0.75);
    box-shadow: 4px 4px 5px rgba(50, 50, 50, 0.75);
}
    .tbl1 th {
    background-color: #3C606A;
    color:#fff;
}
    .tbl1 tr {
    }
    .tbl1 td {
    vertical-align:top;
    }
.tbl2{
margin-left: 120px;
margin-bottom:10px;
    -webkit-box-shadow: 4px 4px 5px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 4px 4px 5px rgba(50, 50, 50, 0.75);
    box-shadow: 4px 4px 5px rgba(50, 50, 50, 0.75);
}
.tbl2 th td{
	border:1px solid #CCC;border-collapse:collapse
}
.tbl2 td th{
	padding:5px;text-align:left
}
.tbl2 th{
	background: #3C606A;
	color: #FFF;
}
.tbl2 tr.odd td{
	background: #ddd
}
.tbl2 col.odd{
	background: #eee
}
.tbl2 tr:hover td{
	background: #B1B6DE
}

.tbl3{
margin-left: 120px;
margin-bottom:10px;
    -webkit-box-shadow: 4px 4px 5px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 4px 4px 5px rgba(50, 50, 50, 0.75);
    box-shadow: 4px 4px 5px rgba(50, 50, 50, 0.75);
}
.appuntamenti {
    border: thin solid #A0A0C4;
    position: fixed;
    display: inline-block;
    float: left;
}
footer {
    background-image: url('../Immagini/Foot.jpg');
    background-repeat: no-repeat;
    background-position: left center;
        color:#4f4f4f;
}
    footer a {
        text-decoration:none;
        color:#4f4f4f;
    }
.aGroup {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
    .aGroup img {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    -webkit-box-shadow: 0px 0px 25px #000;
    -moz-box-shadow: 0px 0px 25px #000;
    box-shadow: 0px 0px 25px #000;
    border-radius: 0.4em;
    z-index:1;
    }
    .aGroup:hover img {
    border: thin solid #FFFFFF;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    border-radius: 1.1em;
    -ms-transform: rotate(-5deg) scale(1.1,1.1); /* IE 9 */
    -webkit-transform: rotate(-5deg) scale(1.1,1.1); /* Chrome, Safari, Opera */
    transform: rotate(-5deg) scale(1.1,1.1);
}
    .aGroup img:hover {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    transform: rotate(5deg) scale(1.1,1.1);
    z-index:999;
    }
.div1 {
    display:table;
    margin: auto;
    text-align:center;
    padding-left:120px;
}
    .div1 h3 {
        color:#628A81;
        margin-top:0px;
        margin-bottom:0px;
    }
    .div1 div {
    float: left;
    border-radius: 10px;
    border: thin solid #E5E5E5;
    margin: 15px;
    padding: 5px;
    background-color: #F9FBFA;
}
    .div1 img {
    height:200px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    -webkit-box-shadow: 0px 0px 25px #000;
    -moz-box-shadow: 0px 0px 25px #000;
    box-shadow: 0px 0px 8px #000;
    border-radius: 0.4em;
    z-index:1;
    }
    .div1 img:hover {
        border-radius:0.8em;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    transform: rotate(5deg) scale(1.1,1.1);
    z-index: 999;
    box-shadow: 0px 0px 200px #fff;
}
.div2 {
    display:table;
    margin:auto;
    padding-left:120px;
}
.div3 {
    float:left;
    -webkit-box-shadow: 4px 4px 5px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 4px 4px 5px rgba(50, 50, 50, 0.75);
    box-shadow: 4px 4px 5px rgba(50, 50, 50, 0.75);
    text-decoration: none;
    padding: 0px 5px 5px 15px;
    margin: 0px 0px 5px 10px;
}
    .div3 img {
        margin: 5px 15px 5px 5px;
        padding:0;
    -webkit-box-shadow: 0px 0px 5px #000;
    -moz-box-shadow: 0px 0px 5px #000;
    box-shadow: 0px 0px 5px #000;
    height:80px;

    }
    .div3edit {
    }
        .div3edit img {
            height:20px;
        }
.div4 {
    padding-left:120px;
}
    .div4 div {
    height:100px;
    }
    .div4 img {
        float:left;
    -webkit-box-shadow: 4px 4px 5px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 4px 4px 5px rgba(50, 50, 50, 0.75);
    box-shadow: 4px 4px 5px rgba(50, 50, 50, 0.75);
        margin: 0px 20px 0px 15px;
        padding:0;
        height:90px;
    }
        .div4 img:hover {
        border-radius:0.8em;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    transform: rotate(5deg) scale(1.1,1.1);
    z-index: 999;
    -webkit-box-shadow: 0px 0px 200px #fff;
    -moz-box-shadow: 0px 0px 200px #fff;
        }
.div5 {
}
    .div5 img {
         margin: 5px 5px 5px 5px;
        padding:0;
    -webkit-box-shadow: 0px 0px 5px #000;
    -moz-box-shadow: 0px 0px 5px #000;
    box-shadow: 0px 0px 5px #000;
    height:80px;
   }
.galla {
    color:yellow;

}
.galla:hover img{
-webkit-transform:scale(1.2); /*Webkit: Scale up image to 1.2x original size*/
-moz-transform:scale(1.2); /*Mozilla scale version*/
-o-transform:scale(1.2); /*Opera scale version*/
-moz-box-shadow:1px 1px 30px gray; /*Mozilla shadow version*/
z-index:0;
 -ms-transform: scale(1.2); /* IE 9 */
            opacity: 0.7; 
            box-shadow: 0px 0px 10px 5px #716556;
            -webkit-box-shadow: 0px 0px 10px 5px #716556;
            -moz-box-shadow: 0px 0px 10px 5px #716556;
 transition:all 1s ease;
}
.galla img {
    height:120px;
    margin:5px;
    text-align: center;
    vertical-align: bottom;
    border-radius:4px;
    -webkit-box-shadow: 4px 4px 5px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    4px 4px 5px rgba(50, 50, 50, 0.75);
    box-shadow:         4px 4px 5px rgba(50, 50, 50, 0.75);
    float:left;
 transition:all 1s ease;
}
.video1 {
    width:400px;
    height:300px;
    margin:10px;
    border-radius:5px;
    -webkit-box-shadow: 0px 0px 10px #000;
    -moz-box-shadow:    0px 0px 10px #000;
    box-shadow:         0px 0px 10px #000;

}
.button1 {
    padding: 3px;
    border-style: none;
    border-radius: 3px;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FF0000;
    text-decoration: none;
}
.button2 {
    padding: 3px;
    border-style: none;
    border-radius: 3px;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #009900;
    text-decoration: none;
}
/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 850px) {
/* page part*/
    h2 {
        font-size:1em;
    }
    header {
        background-image: none;
        background-color: #22486F;
    }
        header img {
        width:90%;
    }
    .navi {
        display:table;
    }
    nav {
        display:inline-block;
    }
    .div1 {
        padding-left:0px;
    }
    .div2 {
        padding-left: 0px;
    }
    .div4 {
        padding-left: 0px;
    }
}
